{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketer Add Client</title>
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}" />
</head>
<body>
    <header class="cd-main-header js-cd-main-header">
        <div class="cd-logo-wrapper">
          <a href="#0" class="cd-logo"><img src="assets/img/cd-logo.svg" alt="OTT Logo"></a>
          <!-- <a href="#" class="cd-logo">OTT</a> -->
        </div>
        
        <div class="cd-reset js-cd-search">
          <form>
            <!-- <input class="reset" type="search" placeholder="Search..."> -->
          </form>
        </div>
      
        <button class="reset cd-nav-trigger js-cd-nav-trigger" aria-label="Toggle menu"><span></span></button>
      
        <ul class="cd-nav__list js-cd-nav__list">
          <li class="cd-nav__item"><a href="#0">Tour</a></li>
          <li class="cd-nav__item"><a href="#0">Support</a></li>
          <li class="cd-nav__item cd-nav__item--has-children cd-nav__item--account js-cd-item--has-children">
            <a href="#0">
              <img src="https://svgshare.com/i/iPh.svg" alt="avatar">
              <span>Account</span>
            </a>
        
            <ul class="cd-nav__sub-list">
              <li class="cd-nav__sub-item"><a href="#0">My Account</a></li>
              <li class="cd-nav__sub-item"><a href="#0">Edit Account</a></li>
              <li class="cd-nav__sub-item"><a href="#0">Logout</a></li>
            </ul>
          </li>
        </ul>
      </header> <!-- .cd-main-header -->
      
      <main class="cd-main-content">
        <nav class="cd-side-nav js-cd-side-nav">
          <ul class="cd-side__list js-cd-side__list">
            <li class="cd-side__label"><span>Main</span></li>
            {% comment %} <li class="cd-side__item cd-side__item--has-children cd-side__item--overview js-cd-item--has-children">
              <a href="#0">Overview</a>
              
              <ul class="cd-side__sub-list">
                <li class="cd-side__sub-item"><a href="#0">All Data</a></li>
                <li class="cd-side__sub-item"><a href="#0">Category 1</a></li>
                <li class="cd-side__sub-item"><a href="#0">Category 2</a></li>
              </ul>
            </li> {% endcomment %}
    
            <li class="cd-side__item cd-side__item--has-children cd-side__item--users cd-side__item--selected js-cd-item--has-children">
              <a href="#0">My Clients</a>
              
              <ul class="cd-side__sub-list">
                <li class="cd-side__sub-item"><a aria-current="page" href="#0">Add Client</a></li>
                <li class="cd-side__sub-item"><a href="#0">Edit Client</a></li>
              </ul>
            </li>
            
            {% comment %} <li class="cd-side__item cd-side__item--has-children cd-side__item--comments  js-cd-item--has-children">
                <a href="#0">Comments</a>
                
                <ul class="cd-side__sub-list">
                    <li class="cd-side__sub-item"><a  href="#0">All Comments</a></li>
                    <li class="cd-side__sub-item"><a href="#0">Edit Comment</a></li>
                    <li class="cd-side__sub-item"><a href="#0">Delete Comment</a></li>
                </ul>
            </li> {% endcomment %}
            <li class="cd-side__item cd-side__item--has-children cd-side__item--users js-cd-item--has-children">
              <a href="#">Manage My Ads</a>
              
              <ul class="cd-side__sub-list">
                <li class="cd-side__sub-item"><a href="{% url 'marketer_add_ad' %}">Add Ad</a></li>
                <li class="cd-side__sub-item"><a href="{% url 'marketer_edit_ads' %}">View/Edit Ad</a></li>
              </ul>
            </li>
          </ul>
        
           
    
             
         
        
          
        </nav>
      
        <div class="cd-content-wrapper">
            <h1>Add Client</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                
            <input type="submit" name="submit" value="Submit">
            </form>
            {% if messages %}
              {% for message in messages %}
              
                <b> {{ message }} </b>
              {% endfor %}
            {% endif %}
        </div> <!-- .content-wrapper -->
      </main> <!-- .cd-main-content -->

    <script src="{% static "assets/js/util.js" %} "></script>
    <script src="{% static "assets/js/menu-aim.js" %} "></script>
    <script src="{% static "assets/js/main.js" %} "></script>
</body>
</html>