{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketer Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/jquery.datetimepicker.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/tagify.css" %}" />
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}" />
    <style>
      .datetime-boxes input{
        display: flex;
        margin: 10px 0;
        /* margin: 10px 0; */
      }
      #cartTotal{
        background-color: red;
        color: white;
        margin-left: 5px;
        border-radius: 10px;
        padding: 5px;
      }
      .my-btn{
        background: #0B5ED7;
        color: white;
        border: none;
        padding: 5px;
        border-radius: 3px;
        transition-duration: 300ms;
      }
      .my-btn:hover{
        background: #094db3;
      }
      #viewCartLink{
        display: none;
        background: #0B5ED7;
        color: white;
        position: fixed!important;
        bottom: 10vh;
        right: 5vw;
      }
      .cd-main-header, .cd-side-nav, .cd-side__sub-list {
        background: #212529;
      }
    </style>
</head>
<body>
    <header class="cd-main-header js-cd-main-header">
        <div class="cd-logo-wrapper">
          <a href="#0" class="cd-logo">
            <span style="color: white;">OTT Media</span>
          </a>
        </div>
        
        <div class="cd-reset js-cd-search">
          <form>
            <!-- <input class="reset" type="search" placeholder="Search..."> -->
          </form>
        </div>
      
        <button class="reset cd-nav-trigger js-cd-nav-trigger" aria-label="Toggle menu"><span></span></button>
      
        <ul class="cd-nav__list js-cd-nav__list">
          {% comment %} <li class="cd-nav__item"><a href="{% url 'marketer_view_cart' 'order_id'  %}" id="viewCartLink">View Cart <span id="cartTotal"> {{ totalAds }} </span> </a></li> {% endcomment %}
          {% comment %} <li class="cd-nav__item"><a href="#0">Support</a></li> {% endcomment %}
          <li class="cd-nav__item cd-nav__item--has-children cd-nav__item--account js-cd-item--has-children">
            <a href="#0">
              <!-- <img src="https://svgshare.com/i/iPh.svg" alt="avatar"> -->
              <span>Hi {{ name }}</span>
            </a>
        
            <ul class="cd-nav__sub-list">
              {% comment %} <li class="cd-nav__sub-item"><a href="#0">My Account</a></li>
              <li class="cd-nav__sub-item"><a href="#0">Edit Account</a></li> {% endcomment %}
              <li class="cd-nav__sub-item"><a href="{% url 'marketer_logout' %}">Logout</a></li>
            </ul>
          </li>
        </ul>
      </header> <!-- .cd-main-header -->
      
      <main class="cd-main-content">
        <nav class="cd-side-nav js-cd-side-nav">
          <ul class="cd-side__list js-cd-side__list">
            <li class="cd-side__label"><span>Main</span></li>
            {% comment %} <li class="cd-side__item cd-side__item--has-children cd-side__item--overview js-cd-item--has-children">
              <a href="#0">Overview</a>
              
              <ul class="cd-side__sub-list">
                <li class="cd-side__sub-item"><a href="#0">All Data</a></li>
                <li class="cd-side__sub-item"><a href="#0">Category 1</a></li>
                <li class="cd-side__sub-item"><a href="#0">Category 2</a></li>
              </ul>
            </li> {% endcomment %}
    
            <li class="cd-side__item cd-side__item--has-children cd-side__item--users js-cd-item--has-children">
              <a href="#0">My Clients</a>
              
              <ul class="cd-side__sub-list">
                <li class="cd-side__sub-item"><a href="{% url 'marketer_add_client' %}">Add Client</a></li>
                {% comment %} <li class="cd-side__sub-item"><a href="#0"> Edit Client</a></li> {% endcomment %}
              </ul>
            </li>
            
            {% comment %} <li class="cd-side__item cd-side__item--has-children cd-side__item--comments  js-cd-item--has-children">
                <a href="#0">Comments</a>
                
                <ul class="cd-side__sub-list">
                    <li class="cd-side__sub-item"><a  href="#0">All Comments</a></li>
                    <li class="cd-side__sub-item"><a href="#0">Edit Comment</a></li>
                    <li class="cd-side__sub-item"><a href="#0">Delete Comment</a></li>
                </ul>
            </li> {% endcomment %}
            <li class="cd-side__item cd-side__item--has-children cd-side__item--users cd-side__item--selected js-cd-item--has-children">
              <a href="#">Manage My Ads</a>
              
              <ul class="cd-side__sub-list">
                <li class="cd-side__sub-item"><a  aria-current="page" href="#0">Add Ad</a></li>
                <li class="cd-side__sub-item"><a href="{% url 'marketer_edit_ads' %}">View/Edit Ad</a></li>
              </ul>
            </li>
          </ul>
          
        </nav>
        <div class="cd-content-wrapper" style="margin-top:-7vh;">
            <h1>Add Advt</h1>
            <form method="POST" id="myForm" enctype="multipart/form-data">
                <br>
                <!-- <div class="row">
                  <div class="form-group col-md-12">
                    <label for="id_client_type">Select Client Type</label>
                    <select name="client_type" id="client_type">
                      <option value=""></option>
                    </select>
                  </div>
                </div> -->
                Select Client : <select name="client" id="client" class="form-control" onchange="clientChangedEvent(this)" required>
                    <option disabled="" selected="" value="0"> -- Select Client -- </option>
                    {% for client in clients %}
                      <option value="{{ client.id }}">
                        {% if client.agency_id %}
                          Agency : {{ client.agency_id.agency_name }} ֍
                        {% else %}
                        {% endif %}
                        Client : {{ client.name }}</option>
                    {% endfor %}
                </select>
                <br>
                <div class="main-cont">
                    {% csrf_token %}
                    <div class="ad-details">
                        {% comment %} {{ form.desc.label  }} {% endcomment %}
                        {% comment %} {{ form.desc|as_crispy_field  }} {% endcomment %}
                        {{ form|crispy  }}
                          
                          <div class="form-group col-md-6 mt-3" id="tags_container" style="">
                            <label for="location_tags">Select Locations for Advt</label>
                            <textarea id="location_tags"></textarea>
                            <div class="invalid-feedback" id="location_tags">
                              Please select atleast one location
                            </div>
                          </div>
                          <div class="form-check form-switch mt-4 ">
                            <input class="form-check-input" type="checkbox" role="switch" name="checkLocationMaha" id="checkLocationMaha" onchange="locationFullChanged(this.checked)">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Show Ad in Full Maharashtra </label>
                          </div>
                          <div class="form-group" id="all_mah_ad_rates" style="display: none;">
                            <label for="">Select Ad Type for All Maharashtra Location</label>
                            Select Ad Type : 
                            <select name="full_mah_ad_type" id="full_mah_ad_type" class="form-control" onchange="changedFullMahAd(this)"  required>
                              <option disabled="" selected="" value="0"> -- Select Ad Type -- </option>
                              {% load convert_filter %}
                              {% for m in mah_location %}
                                <option value="{{ m.type.id }}"> {{ m.type }} | Price : {{ m.rate|convert_to_inr }}</option>
                              {% endfor %}
                            </select>
                          </div>

                          
                          
                        <!-- <button type="button" id="clearImageBtn">Clear Ad Image</button> -->
                        <br>
                        <!-- <button id="remove-ad" type="button" disabled onclick="removeBtnClick(this)">Remove this Ad</button><br><br> -->
                        <p>How many ad units you want ? </p>
                        <select class="form-control" name="selectAdShowTimes" id="selectAdShowTimes" onchange="changeAdDisplayTime(this)">
                          <option disabled="" selected="" value="0"> -- Select No of Ads -- </option>
                          <option value="1" selected>1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                        </select>
                        <br>Select Date & Time for Ad(s) Publishing : 
                        <div class="datetime-boxes">
                          {% comment %} <input type="datetime-local" id="ad-datetime" name="ad-datetime"> {% endcomment %}
                        </div>
                    </div>
                </div>
                <br>
            <!-- <button id="add-ad" type="button">Add on more Ad</button> -->
            <input type="hidden" name="order_id" id="order_id">
            <input type="hidden" name="location_ids[]" id="location_ids">
            {% csrf_token %}
            {% comment %} <input type="submit" name="submit" id="submitBtn" value="Add to Cart" class="my-btn">  <br><br> {% endcomment %}
            <button class="btn mt-4" type="submit" id="submitBtn" style="background-color: #157347; color: white;" type="button">
              Add to Cart
            </button>
            <br><br>
            {% comment %} <a href="{% url 'marketer_view_cart' '_'  %}" id="viewCartLink" style="display: none;">
              View Cart <span id="cartTotal"></span>
             </a> {% endcomment %}
             
             <a href="{% url 'marketer_view_cart' '_'  %}" id="viewCartLink" class="btn btn-primary position-relative" style="">
              View Cart
              <span id="cartTotal" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                0
                <span class="visually-hidden">Cart Total</span>
              </span>
            </a>


            {% comment %} <input type="submit" name="submit" id="gotoCartBtn" value="Goto Cart"> {% endcomment %}
            
        </form>
        {% if messages %}
        {% for message in messages %}
        
        <b> {{ message }} </b>
        {% endfor %}
        {% endif %}
        
    </div> <!-- .content-wrapper -->
</main> <!-- .cd-main-content -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/jquery.datetimepicker.full.min.js" %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script src="{% static "js/tagify.min.js" %} "></script>


    <script src="{% static "assets/js/util.js" %} "></script>
    <script src="{% static "assets/js/menu-aim.js" %} "></script>
    <script src="{% static "assets/js/main.js" %} "></script>
    <script>

      
      
      document.getElementById("client").selectedIndex = 0;
      document.getElementById("full_mah_ad_type").selectedIndex = 0;
      document.getElementById("checkLocationMaha").checked = false;

      function locationFullChanged(value){
        if(value == false){
          document.getElementById("tags_container").style.display = "block";
          document.getElementById("all_mah_ad_rates").style.display = "none";
          return;
        }
        document.getElementById("tags_container").style.display = "none";
        document.getElementById("all_mah_ad_rates").style.display = "block";
        tagify_locations.removeAllTags();


        

      }

      function changedFullMahAd(ele){
        let index = ele.selectedIndex;
        let current = ele.options[index].text;
        let val1 = "Youtube Video Success Story";
        let val2 = "Youtube L Band 30 Days";
        let val3 = "Youtube Full Screen 30 Days";
        let targetEle = document.getElementById("selectAdShowTimes");
        targetEle.innerHTML = "";
        
        let opt = document.createElement('option');
        let cln = null;
        opt.value = "0";
        opt.text = "-- Select No of Ads --";
        opt.disabled = true;

        

        cln = opt.cloneNode(true);
        targetEle.appendChild(cln);

        if(current.includes(val1) || current.includes(val2) || current.includes(val3)){
          
          opt = document.createElement('option');
          opt.value = 1;
          opt.text = 1;
          cln = opt.cloneNode(true);
          targetEle.appendChild(cln);
        }
        else{
          opt = document.createElement('option');
          for(let i = 1; i <= 10; i ++){
            opt.value = i;
            opt.text = i;
            cln = opt.cloneNode(true);
            targetEle.appendChild(cln);
          }
        }
        targetEle.selectedIndex = 0;
      }
      function clientChangedEvent(ele){
        let client_id = ele.value;
        let url = `{% url 'get_client_order' %}`;
        let token = `{{ csrf_token }}`;
        let postData = new FormData();
        postData.append("client_id", client_id);
        postData.append("csrfmiddlewaretoken", token);
        fetch(url, {
          method : "POST",
          body : postData
        })
        .then( res=> {
          return res.json();
        })
        .then( data => {
          console.log(data);
          let orderId = data['order_id'];
          let totalAds = data["totalAds"];
          localStorage.setItem("order_id", orderId);
          let view_cart_link = document.querySelector("#viewCartLink");
          
          // Remove previous order_id from link
          let pre_link = view_cart_link.href;
          let length = pre_link.length;
          let l1 = length - 36;
          let new_link = pre_link.substring(0, l1);
          if(new_link.length > 36){
            view_cart_link.href = new_link;
            view_cart_link.href += orderId;
          }
          else{
            // First time
            view_cart_link.href += orderId;
          }



          view_cart_link.style.display = "inline-flex";
          document.getElementById("cartTotal").innerText = totalAds;
        })


        {% comment %} DEMO Fetch request for testing get request {% endcomment %}

        


        {% comment %} postData2.append("csrfmiddlewaretoken", token); {% endcomment %}

        {% comment %} fetch(url2, {
          method : "POST",
          body: postData2
        })
        .then( res => {
          return res.json();
        })
        .then( data => {
          console.log(data);
        }) {% endcomment %}
        
      }
      

      document.getElementById("selectAdShowTimes").selectedIndex = 0;


      $("#dateAndTimePicker1").datetimepicker({
        formatTime:'g:iA',
        // format: 'Y.m.d hh:mm A',
        // format:'d-m-Y H:i',
        allowTimes:['7:00', '10:00', '12:30', '15:00', '17:00', '20:00' ], 
        // minDate:0
      });
      // alert($("#dateAndTimePicker1").val());
      function changeAdDisplayTime(ele){
        // let append_ele = '<input type="datetime-local" id="ad-datetime" name="ad-datetime">';

        let no_of_ads = ele.value;
        let append_ele = "";
        let date_time_boxes = document.querySelector(".datetime-boxes");
        date_time_boxes.innerHTML = "";
        
        // <input name="dateAndTimePicker1" id="dateAndTimePicker1" class="form-control" />

        for(let i = 0; i < no_of_ads; i++){

          // Ver 2
          append_ele = document.createElement("input");
          append_ele.id = "ad-datetime";
          append_ele.name = "dateAndTimePicker1";
          append_ele.classList.add("form-control")
          {% comment %} append_ele.required = true; {% endcomment %}
          
          let cln = append_ele.cloneNode(true);
          date_time_boxes.appendChild(cln);



          // Ver 1
          // append_ele = document.createElement("input");
          // append_ele.type = "datetime-local";
          // append_ele.id = "ad-datetime";
          // append_ele.name = "ad-datetime";
          // append_ele.classList.add("form-control")
          // append_ele.required = true;
          
          // let cln = append_ele.cloneNode(true);
          // date_time_boxes.appendChild(cln);

        }
        let all_dt = document.querySelectorAll("#ad-datetime")
        all_dt.forEach((dt)=>{
              $(dt).datetimepicker({
                formatTime:'g:iA',
                // format: 'Y.m.d hh:mm A',
                // format:'d-m-Y H:i',
                allowTimes:['7:00', '10:00', '12:30', '15:00', '17:00', '20:00' ], 
                // minDate:0
            });
        })
         
      }


      
        var input_locations = document.querySelector("#location_tags");
        var tagify_locations = new Tagify(input_locations, {
            whitelist : [],
            enforceWhitelist : true,
            dropdown: {
                enabled : 0,
                maxItems: 20
            }
        });

        // If an district is added
        tagify_locations.on('add', function(e){
          document.querySelector("#location_tags").classList.remove('is-invalid');
        });

        var locations = Array();
        // tagify.loading(false).dropdown.show.call(tagify, "")
        `{% for location in locations %}`
        locations.push({value : `{{ location.name }} | {{ location.type }} | {{ location.rate }}`, id : `{{ location.id }}`});
        `{% endfor %}`
        var location_length = `{{ locations|length }}`;
        tagify_locations.settings.whitelist.splice(0, location_length, ...locations);



        // document.getElementById("remove-ad").disabled = true

        // function removeBtnClick(btn){
        //   btn.parentElement.remove();
        //   if(document.querySelectorAll(".ad-details").length == 1){
        //     console.log("Count is 1");
        //     document.querySelectorAll("#remove-ad")[0].disabled = true;
        //   }

        // }

        

        let myForm = document.getElementById("myForm");
        myForm.addEventListener("submit", (e)=>{
            e.preventDefault();
            if(document.getElementById("client").selectedIndex == 0){
              alert("Please select and client!");
              return;
            }
            if(document.getElementById("selectAdShowTimes").selectedIndex == 0){
              alert("Please select atleast 1 ad unit(s)")
              return;
            }
            
            
            let locations_ids = 0;
            let full_mah = false;
            let full_mah_ad_type = null;
            if(document.getElementById("checkLocationMaha").checked){
              locations_ids = 0;
              full_mah = true;
              full_mah_ad_type = document.getElementById("full_mah_ad_type")
            }
            else{
              if(tagify_locations.value.length < 1){
                document.querySelector("#location_tags").classList.add('is-invalid');
                return;
              }

              if(tagify_locations.value.length > 1){
                locations_ids = getIds(tagify_locations.value);
                console.log("greter than 1");
              }
              else{
                locations_ids = tagify_locations.value[0]['id'];
              }
              
            }
            if(!document.getElementById("id_ad_image").value){
             alert("No Image is selected");
            }


            let submitBtn = document.getElementById("submitBtn");
            submitBtn.disabled = true;
            submitBtn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Adding to cart... ';
            {% comment %} let all_ads = document.querySelectorAll(".ad-details");
            let msg = "Total Ads " + all_ads.length; {% endcomment %}
            let url = `{% url 'marketer_save_ad' %}`;

            myForm.querySelector("#order_id").value = localStorage.getItem("order_id");
            myForm.querySelector("#location_ids").value = locations_ids;



            fetch(url,{
              "method": "POST",
              "body": new FormData(myForm)
            }).then(res =>{
              return res.json()
            })
            .then(data => {
              console.log(data);
              submitBtn.disabled = false;
              submitBtn.innerHTML = 'Add to Cart';

              let result = data["result"];
              let msg = data["msg"];
              if(result){
                let totalAds = data["totalAds"];
                document.getElementById("cartTotal").innerText = totalAds;
                document.getElementById("id_desc").value = "";
                document.getElementById("id_ad_image").value = "";
                document.getElementById("selectAdShowTimes").selectedIndex = 0;
                
                document.querySelector(".datetime-boxes").innerHTML = "";

                document.getElementById("full_mah_ad_type").selectedIndex = 0;

                swal(msg, {
                  icon: "success",
                })
                tagify_locations.removeAllTags();
              }
              else{
                swal(msg, {
                  icon: "error",
                })
              }
            })


        })

        function getIds(x){
          var temp = Array()
          x.forEach( (e) => {
              temp.push(e.id);
          })
            return temp;
        }
        
        // let addAdBtn = document.getElementById("add-ad");
        // addAdBtn.addEventListener("click", (e)=>{
        //     document.getElementById("remove-ad").disabled = false

        //     let para = document.querySelector(".ad-details");
        //     var cln = para.cloneNode(true);
        //     document.querySelector(".main-cont").appendChild(cln);
            
        //     let len = document.querySelectorAll(".ad-details").length;
        //     let targetEle = document.querySelectorAll(".ad-details")[len - 1];
        //     targetEle.querySelector("#id_desc").value = "";
        //     targetEle.querySelector("input[type=file]").value = "";
        //     targetEle.querySelector("#id_ad_pub_date").value = "";


        // });
        // var form = document.querySelector("form");
        // form.addEventListener("submit", (e)=>{
        //     e.preventDefault();
        //     console.log("Form Submit");
        // });

        var form = document.querySelector("form");
        
        form.addEventListener("submit", (e)=>{
            e.preventDefault();
        });
        
        // let clearImageBtn = document.getElementById("clearImageBtn");
        // clearImageBtn.addEventListener("click", (e)=>{
        //     // document.getElementById("clearImageBtn").parentElement.querySelector("input[type=file]")
        //     e.target.parentElement.querySelector("input[type=file]").value = "";
        // })
    </script>
</body>
</html>