<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Admin Login Page</h1>
    <form  method="post">
        {{ form.username }}
        {{ form.password }}
        {% csrf_token %}
        <input type="submit" value="Login">
    </form>
</body>
</html> -->

{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Publisher Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <style>
      h1{
          font-weight: 100;
      }
      body{
        background: #7474BF;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
  </style>

</head>
<body>
<form class="login" method="post">
    <img src="https://join.onthistime.news/static/images/ott_logo.png" alt="" srcset="" width="190" height="100"> 
    <h1>Publisher Login</h1>
        {{ form.username }}
        {{ form.password }}
  {% csrf_token %}
  <button type="submit">Login</button>
  <br> <br>
  {% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% else %}

{% endif %}
</form>


<script>
    document.getElementById("id_username").placeholder = "Email";
    document.getElementById("id_password").placeholder = "Password";
</script>
</body>
</html>

