{% comment %} <table class="fold-table">
    <thead>
      <tr>
        <th>Total Ads in Order</th>
        <th>Client Name</th>
        <th>Marketer Name</th>
        <th>Total Bill Amount</th>
        <th>Bill Status</th>
        <th>Ad created Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="view">
        <td>2</td>
        <td>John Wick Client 1</td>
        <td>Simp Marketer 1</td>
        <td>3000</td>
        <td>Not Paid</td>
        <td>10 July 2022</td>
        <td>
          <a href="#">Edit</a>
        </td>
      </tr>
      <tr class="fold">
        <td colspan="7">
          <div class="fold-content">
            <!-- <h3>Company Name</h3> -->
            <!-- <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p> -->
            <p>Total Ads in this order are as follow: </p>
            <table>
              <thead>
                <tr>
                  <th>Ad Type</th>
                  <th>Ad Image</th>
                  <th>Amount</th>
                  <th>Ad Publishing Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Status Ad</td>
                  <td>View Image</td>
                  <td>2000</td>
                  <td>2 July 2022</td>
                </tr>
                <tr>
                  <td>Text Ad</td>
                  <td>View Image</td>
                  <td>1000</td>
                  <td>3 July 2022</td>
                </tr>
              </tbody>
            </table>          
          </div>
        </td>
      </tr>
    </tbody>
</table>  {% endcomment %}