{% include "user_admin/navbar.html" with active="home" %}

{% load static %}
  <div class="my-3" style="margin: 0 5vw;">
      <h3>Search Orders</h3>
      <div class="row">
        <div class="form-group col-md-6">
            <label for="marketer_tags">Select Marketer</label>
            <textarea id="marketer_tags"></textarea>
        </div>
          <div class="form-group col-md-6" id="clients-container" style="display:none;">
            <label for="client_tags">Select Clients</label>
            <textarea id="client_tags"></textarea>
          </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
            <!-- <form method="post"> -->
                <label for="reportrange">Select DateTime</label>
                <div id="reportrange" class="mt-1" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>
        </div>

      </div>
            
        <input type="submit" value="Search" id="searchBtn" class="btn btn-success btn-lg mt-3">
        <form  method="post" action="{% url 'download_order_to_pdf'  %}" id="downloadForm" style="display: none;">
          <input type="hidden" name="resultIds" value="" id="resultIds">
          <input type="hidden" name="down_start_date_time" value="" id="down_start_date_time">
          <input type="hidden" name="down_end_date_time" value="" id="down_end_date_time">
          <input type="hidden" name="down_marketer" value="" id="down_marketer">
          <input type="hidden" name="down_client" value="" id="down_client">
          {% csrf_token %}
          <input type="submit" value="Download Result in PDF" id="downloadPdfBtn" class="btn btn-warning btn-lg mt-3">
        </form>
    <!-- </form> -->
    <div class="search-result mt-3" style="max-height: 450px; overflow: auto; margin-top: 3vh;">

    </div>
    <div class="search-result-summary" style="">
      <h3 id="totalOrders"></h3>
      <h3 id="totalBillAmt"></h3>
    </div>
    <div class="" id="spinner-container" style="height: 100%;display:none;  justify-content: center; align-items: center; position: absolute; top: 40%; right: 50%;">
      <div class="spinner-border" role="status" style="width: 100px; height: 100px; font-size: 1.4rem;">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div id="myModal" class="modalz">
    <span class="close">&times;</span>
    <img class="modalz-content" id="img01">
    <div id="captionz"></div>
  </div>
  
    {% comment %} <script src="{% static "assets/js/util.js" %} "></script>
    <script src="{% static "assets/js/menu-aim.js" %} "></script>
    <script src="{% static "assets/js/main.js" %} "></script> {% endcomment %}

    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    
    <script src="{% static "js/tagify.min.js" %} "></script>
<script>
 
 $(function(){
        $(".fold-table tr.view").on("click", function(){
          $(this).toggleClass("open").next(".fold").toggleClass("open");
        });
      });
      // Date Time Picker Init code...
      $(function() {
        var start = moment().startOf("day");
        var end = moment().endOf("day");

        function cb(start, end) {
            // $('#reportrange span').html(start.format('D MMMM, YYYY HH:mm') + ' - ' + end.format('D MMMM, YYYY HH:mm'));
            $('#reportrange span').html(start.format('D MMMM, YYYY hh:mm A') + ' - ' + end.format('D MMMM, YYYY hh:mm A'));
            console.log(start.format('D MMMM, YYYY hh:mm A') , " - " , end.format('D MMMM, YYYY hh:mm A'))
            // **** Previous 24 hour format Settings ****
            // start_date_time = start.format('YYYY-MM-DD HH:mm');
            // end_date_time = end.format('YYYY-MM-DD HH:mm');

            // **** AM PM DateTime Settings forward ****
            start_date_time = start.format('YYYY-MM-DD hh:mmA');
            end_date_time = end.format('YYYY-MM-DD hh:mmA');
        }

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            timePicker: true,
            // timePicker24Hour: true,
            ranges: {
            'Today': [moment().startOf("day"), moment().endOf("day")],
            'Yesterday': [moment().subtract(1, 'days').startOf("day"), moment().subtract(1, 'days').endOf("day")],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        cb(start, end);

      });

      var input_marketers = document.querySelector("#marketer_tags");
      var tagify_marketer = new Tagify(input_marketers, {
        whitelist : [],
        duplicates: false,
        enforceWhitelist : true,
        dropdown: {
            enabled : 0,
            maxItems: 20
        },
        maxTags : 1
      })
      var marketers = Array();
      `{% for marketer in marketers %}`
      marketers.push({value : `{{ marketer.first_name }} {{ marketer.middle_name }} {{ marketer.last_name }}`, id : `{{ marketer.id }}`});
      `{% endfor %}`
      var marketer_length = `{{ marketers|length }}`;
      tagify_marketer.settings.whitelist.splice(0, marketer_length, ...marketers);

      var input_clients = document.querySelector("#client_tag");
      var tagify_client;
      {% comment %} var tagify_client = new Tagify(input_clients, {
        whitelist : [],
        duplicates: false,
        enforceWhitelist : true,
        dropdown: {
            enabled : 0,
            maxItems: 20
        },
        maxTags : 1
      })
      var clients = Array();
      `{% for client in clients %}`
      clients.push({value : `{{ client.name }}`, id : `{{ client.id }}`});
      `{% endfor %}`
      var client_length = `{{ clients|length }}`;
      tagify_client.settings.whitelist.splice(0, client_length, ...clients); {% endcomment %}


      {% comment %} tagify_marketer.on("remove", (e) =>{
            // console.log("test : ", e.target)
            updateClients(e)
           
             
        }) {% endcomment %}
        // If an district is added
        tagify_marketer.on('add', function(e){
            if(tagify_marketer.listeners.dropdown){
                updateClients(e)
            }
        });

        function updateClients(e){
          var tag_id = e.detail.data.__tagId;
            // var ids = tagify.value;
          let m_id = tagify_marketer.value[0]['id'];
          let url = `{% url 'search_marketers_clients' %}`;
          let token = `{{ csrf_token }}`;

          let postData = new FormData();
          postData.append("csrfmiddlewaretoken", token);
          postData.append("m_id", m_id);

          fetch(url, {
            body: postData,
            method: "POST"
          })
          .then(res=>{
            return res.json();
          })
          .then(data =>{
            var clients = data["clients"];
            document.querySelector("#clients-container").style.display = "block";
            document.querySelector("#clients-container").innerHTML = data["form"];
            var input_client = document.querySelector("#client_tags")
            var clients_arr = Array()
            clients.forEach( (e)=>{
                        clients_arr.push({value : e.name, id : e.id})
            })
            console.log(clients)
            console.log(input_client)

            tagify_client = new Tagify(input_client, {
                        whitelist : [],
                        enforceWhitelist : true,
                        dropdown: {
                            enabled : 0,
                        }
                        
              })
              console.log(tagify_client); 
              tagify_client.settings.whitelist.splice(0, clients_arr.length, ...clients_arr)

          })
        } 
      
      let responseIds = Array();
      let searchBtn = document.getElementById("searchBtn");
      searchBtn.addEventListener("click", (e)=>{
        document.getElementById("downloadForm").style.display = "none";
        let marketer_id = 0;
        if(tagify_marketer.value.length > 0){
            marketer_id = tagify_marketer.value[0]['id'];
        }

        let client_id = 0;
        if(tagify_client){
          if(tagify_client.value.length > 0){
            client_id = tagify_client.value[0]['id'];
          }

        }

        document.querySelector(".search-result").innerHTML = "";
        document.querySelector('#spinner-container').style.display = "block";
        document.querySelector(".search-result-summary").style.display = "none";


        
        
        

        let url = `{% url 'user_admin_search_orders' %}`;
        let token = `{{ csrf_token }}`;

        let postData = new FormData();
        postData.append("csrfmiddlewaretoken", token);
        postData.append("marketer_id", marketer_id);
        postData.append("client_id", client_id);
        postData.append("start_date_time", start_date_time);
        postData.append("end_date_time", end_date_time);

        


        fetch(url, {
            body : postData,
            method : "POST"
        })
        .then(res => {
            return res.json()
        })
        .then(data => {
          document.querySelector('#spinner-container').style.display = "none";
          let html = data['html'];
          let totalOrders = data['total_orders'];
          let totalBillAmt = data['total_bill_amt'];
          document.querySelector(".search-result").innerHTML = html;
          
          document.querySelector(".search-result-summary").style.display = "block";
          document.getElementById("totalOrders").innerText = "Total Orders : " + totalOrders;
          document.getElementById("totalBillAmt").innerText = "Total Amount : " + totalBillAmt;
          
          if(totalOrders < 1){
            return;
          }
            document.getElementById("downloadForm").style.display = "block";

            responseIds = data['qs_ids_json'];
            console.log(responseIds);
            document.querySelector("#resultIds").value = responseIds
            document.querySelector("#down_start_date_time").value = start_date_time
            document.querySelector("#down_end_date_time").value = end_date_time

            document.querySelector("#down_marketer").value = marketer_id
            document.querySelector("#down_client").value = client_id

            $(function(){
                $(".fold-table tr.view").on("click", function(){
                  $(this).toggleClass("open").next(".fold").toggleClass("open");
                });
              });
        })

      })


let downloadPdfBtn = document.getElementById('downloadPdfBtn');
downloadPdfBtn.addEventListener("click", (e)=>{
  let url = `{% url 'download_order_to_pdf' %}`;
  let token = `{{ csrf_token }}`;
  {% comment %} marketer_id
  client_id {% endcomment %}




  let postData = new FormData();

  {% comment %} postData.append("responseIds", JSON.stringify(responseIds))
  postData.append("csrfmiddlewaretoken", token);
  postData.append("start_date_time", start_date_time);
  postData.append("end_date_time", end_date_time); {% endcomment %}


  fetch(url, {
    method : "POST",
    body: postData
  })
  .then(res=>{
    return res.json();
  })
  .then( data => {
    console.log(data);
  })
})

      function getIds(x){
        var temp = Array()
        x.forEach( (e) => {
            temp.push(e.id);
        })
        return temp;
    }

</script>
</body>
</html>